*.pyc
htmlcov/
tests/coverage/
cache/
.coverage
.coveragerc
internal/
PublisherTest.json
ReadmePublisher.json
IntercomPublisher.json
.readthedocs-custom-steps.yml
.readthedocs-requirements.txt
.readthedocs.yml
pydoc-markdown.yml
build/
tests/download_file.html
venv
.DS_Store
examples/test_folders.py